PUBLIC_API_BASE_URL=
PUBLIC_TILE_URL=/tiles/priorities.pmtiles
PUBLIC_MAP_METADATA_URL=/tiles/map-metadata.json
PUBLIC_BASEMAP_URL=https://basemaps.cartocdn.com/light_nolabels/{z}/{x}/{y}@2x.png
BACKEND_PROXY_TARGET=http://127.0.0.1:8000
