{% extends 'layout.html' %}

{% block body %}
    <h1 style="margin-top: 5em;">DIKUS ARK</h1><br>
    
    <div class="homepage-para">
        <p>The Ark is a living map designed to guide preservation efforts in a rapidly changing world. It highlights regions where biodiversity is under the greatest threat, helping scientists and conservationists focus their attention where it matters most. By combining ecological data, risk assessments, and species distribution, the map offers a clear, visual overview of urgency across the globe to help conservationists direct their efforts and talent.</p><br>
        <p>At its core, the project supports the sequencing and preservation of genetic material from endangered species. Each highlighted area represents not just a place, but a collection of irreplaceable life forms whose DNA may soon be lost. Capturing this information today creates opportunities for future research, conservation, and potential restoration.</p><br>
        <p>The interface is built to be simple and exploratory. Users can navigate the map, zoom into critical regions, and access concise insights about species at risk and ongoing efforts. The goal is to make complex scientific priorities accessible and engaging, implemented in a lightweight demo based on real-world datasets.</p><br>
        <p>Ultimately, the Ark is a tool and a statement: a step toward ensuring that extinction does not mean erasure forever.</p>
    </div>

    <div class="index-bottom">
        <a href="/data/table/">View Data as Tabular</a>
        <a href="/data/map/">View Data as Heatmap</a>
        <a href="/data/spatial/">View Spatial Data</a>
        <a href="/data/extra/">View Extra Data</a>
        <a href="/data/tabular/">View Merged Tabular Data</a>
    </div>
{% endblock %}