{% extends 'layout.html' %}

{% block body %}

    <h1>Exploring The Raw Data</h1>
    <h3 style="width: 50%; margin: auto;">
        Scroll through real sequencing-status and build a more detailed view 
        of each datapoint, select subsets and download them as csv files for 
        further exploratory data-analysis.
    </h3>

    <div class="page">
        <div class="large-tabular">
            <table>
                <thead>
                    <tr>
                        <th>id_no</th>
                        <th>sci_name</th>
                        <th>taxon_group</th>
                        <th>kingdom</th>
                        <th>phylum</th>
                        <th>class</th>
                        <th>order_name</th>
                        <th>family</th>
                        <th>genus</th>
                        <th>iucn_category</th>
                        <th>presence</th>
                        <th>origin</th>
                        <th>seasonal</th>
                        <th>marine</th>
                        <th>terrestial</th>
                        <th>freshwater</th>
                        <th>source</th>
                        <th>redlistCategory</th>
                        <th>gbif_accepted_id</th>
                        <th>threat_score</th>
                        <th>dna_coverage_score</th>
                        <th>sampling_priority</th>
                        <th>assembly_level</th>
                        <th>assembly_span</th>
                        <th>sequencing_status</th>
                        <th>sample_available</th>
                        <th>sample_collected</th>
                        <th>in_progress</th>
                        <th>insdc_submitted</th>
                        <th>published</th>
                        <th>bioproject</th>
                        <th>assembly_name</th>
                        <th>match_method</th>
                        <th>has_dna_species_level</th>
                        <th>genus_has_dna</th>
                        <th>family_has_dna</th>
                        <th>h3_res3</th>
                        <th>h3_res7</th>
                        <th>iucn_grouping</th>
                    </tr>
                </thead>
                <tbody class="large-tabular-body">
                    <!-- HTML will be inserted here -->
                </tbody>
            </table>
        </div>
    </div>

    <script>

    const container = document.querySelector(".large-tabular");
    const tbody = document.querySelector(".large-tabular-body");
    
    let offset = 0;
    let loading = false;

    async function load_chunk() {
        if (loading) return;
        loading = true;

        try {
            const resp = await fetch(`/data/spatial/chunk?offset=${offset}`);
            const html = await resp.text();
            tbody.insertAdjacentHTML("beforeend", html);

        } catch (error) {
            console.error("Fejl under hentning af data: ", error);
            
        } finally {
            offset += 100;
            loading = false;
        }
    }

    // Load initial table
    load_chunk();

    container.addEventListener("scroll", async () => {
        if (loading) return;

        const nearBottom =
            container.scrollTop + container.clientHeight
            >= container.scrollHeight - 200;

        if (!nearBottom) return;

        await load_chunk();
    });
    </script>

    <div class="bottom-functions">
        <a href="/">Back to Homepage</a>
        <a href="/data/map/">View Data as Heatmap</a>
    </div>
{% endblock %}