<!-- {% for row in spatial_df %}
<tr>
    <td>{{row.id_no}}</td>
    <td>{{row.sci_name}}</td>
    <td>{{row.class}}</td>
    <td>{{row.family}}</td>
    <td>{{row.genus}}</td>
    <td>{{row.sequencing_status}}</td>
    <td>{{row.threat_score}}</td>
</tr>
{% endfor %} -->

{% for row in spatial_df %}
<tr>
    <td>{{row.id_no}}</td>
    <td>{{row.sci_name}}</td>
    <td>{{row.taxon_group}}</td>
    <td>{{row.kingdom}}</td>
    <td>{{row.phylum}}</td>
    <td>{{row.class}}</td>
    <td>{{row.order_name}}</td>
    <td>{{row.family}}</td>
    <td>{{row.genus}}</td>
    <td>{{row.iucn_category}}</td>
    <td>{{row.presence}}</td>
    <td>{{row.origin}}</td>
    <td>{{row.seasonal}}</td>
    <td>{{row.marine}}</td>
    <td>{{row.terrestial}}</td>
    <td>{{row.freshwater}}</td>
    <td>{{row.source}}</td>
    <!-- <td>{{row.geom_wkb}}</td> -->
    <td>{{row.redlistCategory}}</td>
    <td>{{row.gbif_accepted_id}}</td>
    <td>{{row.threat_score}}</td>
    <td>{{row.dna_coverage_score}}</td>
    <td>{{row.sampling_priority}}</td>
    <td>{{row.assembly_level}}</td>
    <td>{{row.assembly_span}}</td>
    <td>{{row.sequencing_status}}</td>
    <td>{{row.sample_available}}</td>
    <td>{{row.sample_collected}}</td>
    <td>{{row.in_progress}}</td>
    <td>{{row.insdc_submitted}}</td>
    <td>{{row.published}}</td>
    <td>{{row.bioproject}}</td>
    <td>{{row.assembly_name}}</td>
    <td>{{row.match_method}}</td>
    <td>{{row.has_dna_species_level}}</td>
    <td>{{row.genus_has_dna}}</td>
    <td>{{row.family_has_dna}}</td>
    <td>{{row.h3_res3}}</td>
    <td>{{row.h3_res7}}</td>
    <!-- <td>{{row.iucn_grouping}}</td> -->
    <!-- <td>{{row.geom}}</td> -->
</tr>
{% endfor %}