<th>id_no</th>
<th>sci_name</th>
<th>taxon_group</th>
<th>kingdom</th>
<th>phylum</th>
<th>class</th>
<th>order_name</th>
<th>family</th>
<th>genus</th>
<th>iucn_category</th>
<th>presence</th>
<th>origin</th>
<th>seasonal</th>
<th>marine</th>
<th>terrestial</th>
<th>freshwater</th>
<th>source</th>
<th>geom_wkb</th>
<th>redlistCategory</th>
<th>gbif_accepted_id</th>
<th>threat_score</th>
<th>dna_coverage_score</th>
<th>sampling_priority</th>
<th>assembly_level</th>
<th>assembly_span</th>
<th>sequencing_status</th>
<th>sample_available</th>
<th>sample_collected</th>
<th>in_progress</th>
<th>insdc_submitted</th>
<th>published</th>
<th>bioproject</th>
<th>assembly_name</th>
<th>match_method</th>
<th>has_dna_species_level</th>
<th>genus_has_dna</th>
<th>family_has_dna</th>
<th>h3_res3</th>
<th>h3_res7</th>
<th>iucn_grouping</th>
<th>geom</th>
