{% extends 'layout.html' %}

{#

Tutorial page for users to learn the basics, we should probably add a big button on the home page to go to the tutorial, and maybe we should integrate the tutorial page into the map page from now on, I'm just trying to get something going...

#}


<h1>Tutorial</h1>
<h3>Learn how to use the map</h3>
<br><br>

<h2>The Map</h2>
<h3>Basic controls</h3>
<ul>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>



<h2>The Table</h2>
<h3>Basic controls</h3>
<ul>
	<li>Use the arrow keys LEFTARROW RIGHTARROW to switch between pages</li>
	<li>Use the weight function to select parameters and generate a custom priority score for every species</li>
	<li>Click on a column name to sort the table in ascending order with respect to that column, click again for descending order</li>
	<li>Use the search function to search for species of families using extended regular expressions</li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>
