{% extends 'layout.html' %}

{% block body %}

<h1>Tutorial</h1>
<h2 class="page-description">Learn how to use the map</h2>
<br><br>

<h2>The Map</h2>
<h3 class="page-description">Basic controls</h3>
<ul>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>

<h2>The Table</h2>
<h3 class="page-description">Basic controls</h3>
<ul>
	<li>Use the arrow keys <span class="key-hint">&larr;</span> <span class="key-hint">&rarr;</span> to switch between pages</li>
	<li>Use the weight function to select parameters and generate a custom priority score for every species</li>
	<li>Click on a column name to sort the table in ascending order with respect to that column, click again for descending order</li>
	<li>Use the search function to search for species of families using extended regular expressions</li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>

{% endblock %}
