{% extends 'layout.html' %}

{% block body %}

<form class="form-card update-card" action="/update/{{genome.id}}/" method="post">
    <h1>Update Row</h1>

    <div class="form-group">
        <label for="seq">Sequencing Level</label>

        <select id="seq" name="sequencing_level">
            {% if genome.seq == 'Fully Sequenced' %}
                <option value="Not Sequenced">Not Sequenced</option>
                <option value="Partially Sequenced">Partially Sequenced</option>
                <option value="Fully Sequenced" selected>Fully Sequenced</option>
            {% elif genome.seq == 'Partially Sequenced' %}
                <option value="Not Sequenced">Not Sequenced</option>
                <option value="Partially Sequenced" selected>Partially Sequenced</option>
                <option value="Fully Sequenced">Fully Sequenced</option>
            {% else %}
                <option value="Not Sequenced" selected>Not Sequenced</option>
                <option value="Partially Sequenced">Partially Sequenced</option>
                <option value="Fully Sequenced">Fully Sequenced</option>
            {% endif %}
        </select>
    </div>

    <div class="form-group">
        <label for="endangered">Endangeredness Level <span id="valueDisplay">{{genome.endangered}}</span></label>

        <input type="range" id="endangered" name="endangeredness_level" min="0" max="10" value="{{genome.endangered}}" oninput="valueDisplay.textContent = this.value">
    </div>

    <div class="form-group checkbox-row">
        <label for="edge">EDGE Species</label>

        {% if genome.is_edge %}
            <input type="checkbox" id="edge" name="edge" checked>
        {% else %}
            <input type="checkbox" id="edge" name="edge">
        {% endif %}
    </div>

    <button type="submit">Update</button>
</form>

<div class="index-bottom">
    <a href="/">Back to Homepage</a>
    <a href="/data/table/">Back to Data as Tabular</a>
    <a href="/data/map/">Back to Data as Heatmap</a>
</div>

{% endblock %}